<%= form_for @order_detail, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <font color="red">注意： 该价格为区局实际销售价，该价格直接参与并影响报表结算，请谨慎填写！（商家结算价为<%=@commodity.cost_price.to_s(:rounded, precision: 2)%>元）</font>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <%= hidden_field_tag('commodity_id', @commodity.id) %> 
  <%= hidden_field_tag('order_id', @order.id) %> 
  <%= hidden_field_tag('source', @source) %> 
  <%= hidden_field_tag('referer', request.referer) %> 
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= submit_tag "取消",:id=>'submit_button', onclick: "window.close();" ,:class => 'btn btn-primary'%>

<% end %>



