<%= form_for @order_detail, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <%= hidden_field_tag('commodity_id', @commodity_id) %> 
  <%= hidden_field_tag('order_id', @order.id) %> 
  <%= hidden_field_tag('source', @source) %> 
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if @order_detail.new_record?%>
  <%= hidden_field_tag('commodity_id', @commodity.id) %> 
  <%= hidden_field_tag('order_id', @order.id) %> 
  
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), commodity_choose_order_path(@order), :class => 'btn btn-default' %>
  <% else %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), request.referer, :class => 'btn btn-default' %>
  <% end %>

<% end %>



