<%- model_class = OrderDetail -%>
<%- omodel_class = Order -%>
<%- cmodel_class = Commodity -%>
<%- smodel_class = Supplier -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <%= form_tag('', :method => "get", name: 'form1') do %>
    <div style="float:right">  
      <% if params[:action].eql?"look" %>
        <b>状态:</b><%= select_tag(:status, options_for_select([["--", "no"], ["待收货或结单", "receiving_closed"], ["取消以外", "not_canceled"]], :selected=> @add_status)) %>
        
        <%= submit_tag "查询",:class => 'btn btn-primary', onclick: "form1.action='/order_details/look/';form1.submit();" %>
      <% end %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
              eval(@status + '_orders_' +'path'),
              :class => 'btn btn-primary' %>
    </div>
    <% if params[:action].eql?"look" %>
      <%= render partial: 'look_order_details_grid'%>
    <% else %>
      <%= render partial: 'order_details_grid'%>
    <% end %>
  <%end %>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="exampleModalLabel">查看子订单日志</h4>
      </div>
      <div class="modal-body">
        <form>
          <table id="order_detail_logs">
          
          </table> 
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

