<%= form_for @commodity, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :dms_no, :class => 'control-label' %>
    <font color="red">(必填)</font>
    <div class="controls">
      <%= f.text_field :dms_no, :class => 'text_field', :id => 'dms_no' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <font color="red">(必填)</font>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :id => 'name' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <font color="red">(*模糊匹配 空格罗列所有供应商,必填)</font>
    <div class="controls">
      <% if !@commodity.persisted? %>
      <%= supplier_select_autocom("commodity",@commodity.id) %>
      <% else %>
      <%= @commodity.supplier.name %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost_price, :class => 'control-label' %>
    <font color="red">(必填)</font>
    <div class="controls">
      <%= f.text_field :cost_price, :class => 'text_field', :id => 'cost_price' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sell_price, :class => 'control-label' %>
    <font color="red">(必填)</font>
    <div class="controls">
      <%= f.text_field :sell_price, :class => 'text_field', :id => 'sell_price' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class => 'text_field', :id => 'desc' %>
    </div>
  </div>
  <div class="control-group">
    <%= image_tag(@commodity.cover_url) if @commodity.cover? %>
  </div>
  <div class="control-group">

    <%= f.label :上传图片, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :cover, :class => 'text_field' %>
      <%= f.hidden_field :cover_cache %>
    </div>
  </div>
  
  
  <!-- <div class="control-group">
    <%= f.label :is_on_sell, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:is_on_sell, Commodity::IS_ON_SELL.invert) %>
    </div>
  </div> -->
  <%= hidden_field_tag('source', @source) %> 

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            commodities_path, :class => 'btn btn-default' %>
 
<% end %>


