<%= form_for @commodity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dms_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dms_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= supplier_select_autocom("commodity",@commodity.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost_price, :class => 'text_field', :id => 'cost_price' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sell_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sell_price, :class => 'text_field', :id => 'sell_price'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= image_tag(@commodity.cover_url) if @commodity.cover? %>
  </div>
  <div class="control-group">

    <%= f.label :上传图片, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :cover, :class => 'text_field' %>
      <%= f.hidden_field :cover_cache %>
    </div>
  </div>
  
  
  <!-- <div class="control-group">
    <%= f.label :is_on_sell, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:is_on_sell, Commodity::IS_ON_SELL.invert) %>
    </div>
  </div> -->
  
  
  <%= f.submit nil, :class => 'btn btn-primary', onclick: "check_num()" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            commodities_path, :class => 'btn btn-default' %>
 
<% end %>

<script type="text/javascript">
function check_num()
{
  var cost_price=document.getElementById('cost_price').value;
  var sell_price=document.getElementById('sell_price').value;
  if(isNaN(cost_price)==true) 
  {
    alert('商家结算价必须为数字');
    document.getElementById('cost_price').value='';
  }
  else if(isNaN(sell_price)==true) 
  {
    alert('最低销售价必须为数字');
    document.getElementById('sell_price').value='';
  }
}
</script>

