<%- model_class = Commodity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  <%= form_tag('', :method => "get", name: 'form1') do %>
  <div style="float:right">   
      <% if can? :new, Commodity %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_commodity_path,
            :class => 'btn btn-primary' %>
      <% end %>
      <% if can? :import, Commodity %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  commodity_import_commodities_path,
                  :class => 'btn btn-primary' %>
      <% end %>
      <a class="btn btn-primary wg-external-csv-export-button" data-grid-name="commodities" >导出</a>
  </div>
  <%= render partial: 'commodities_grid' %>
<%end %>
</div>




