
<br><br>
<font face="微软雅黑" color='#006030' size=6>供应商销售结算报表</font>   

<br><br><br>
 

<%= form_tag("/shpost_distribution/reports/supplier_report",format: "xls", method: "post") do -%>
<table>
    <tr style="line-height: 40px;height: 40px;">
        <td><%= label_tag(:close_at_start, "结单时间起始:") %></td>
        <td><%= text_field("close_at_start","close_at_start") %></td>
        <td><%= label_tag(:close_at_end, "结单时间结束:") %></td>
        <td><%= text_field("close_at_end","close_at_end") %></td>
        <td><%= label_tag(:commodity_name, "商品名称:") %></td>
        <td><%= text_field("commodity_name","commodity_name") %></td>  
    </tr>
    <tr style="line-height: 40px;height: 40px;">   
       <!--  <td><%= label_tag(:price_start, "销售价格大于:") %></td>
        <td><%= text_field("price_start","price_start") %></td>
        <td><%= label_tag(:price_end, "销售价格小于:") %></td>
        <td><%= text_field("price_end","price_end") %></td> -->
        <td><%= label_tag(:supplier, "供应商:") %></td>
        <td><%= select_tag("supplier", options_for_select(Supplier.all.map{|u| [u.name,u.id]}.insert(0,"全部")), id: "supplier") %></td>
    </tr>
</table>
<!-- <table>
    <tr style="line-height: 40px;height: 40px;">     
    <td><%= label_tag(:unit_id, "机构名称:") %></td>
    </tr>
    <% no = 1 %>
    <% Unit.where(unit_type: "branch").order(:no).each do |u| %>
        <% if no==1 %>
        <tr style="line-height: 40px;height: 40px;">
        <% end %>
            <td width="25%"><%= check_box("checkbox",u.id.to_s)%><%= u.name %></td>
            <% no += 1 %>
        <% if no==4 %>
        </tr>   
        <% no = 1 %>
        <% end %>
    <% end %>
        
</table> -->
    <%= submit_tag "报表导出",:class => 'btn btn-primary' %>
       
<% end -%>


